*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 100px;
    display: block;
    margin: auto;
}

.header{
    margin: 1%;
}

.nav-left, .nav-right{
    background-color: rgb(85, 161, 236);
}

.nav-left ul,
.nav-right ul{
    list-style: none;
}

.nav-left a,
.nav-right a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: yellow;
}

.nav-left a:hover{
    background: aliceblue;
}

.nav-right a:hover{
    background: rgb(192, 218, 241);
}

@media screen and (min-width: 560px) {
    .header{
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
    }

.nav-left ul{
    display: flex;
}

.nav-right ul{
    display: flex;
}

.nav-left, .nav-right{
    background: none;
}

.nav-left a,
.nav-right a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    }
}

/* main */

.main{
    margin-top: 30px;
}

.main-left img{
    width: 200px;
    display: block;
    margin: auto;
}

.main-right{
    text-align: center;
    margin-top: 20px;
}

@media(min-width: 560px){
    .main{
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    .main-left img{
        width: 200px;
    }

    .main-right{
        margin: auto;
        text-align: left;
        margin-left: 30px;
    }

    .main-right h2{
        margin-bottom: 10px;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
}

/* produk */

.display{
    margin-top: 5%;
    text-align: center;
    color: rgb(29, 165, 237);
}

.images img{
    width: 190px;
    display: block;
    margin: auto;
}

.produk-content{
    text-align: center;
    margin: 20px;
}

.titel h2{
    margin-top: 40%;
}

.deskripsi p{
    font-size: 15px;
}
@media(min-width: 560px){
    .produk{
        width: 960px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .produk-content{
        height: 300px;
    }

    .images{
        height: 100px;
        width: 100px;
    }

    .images img{
        width: 200px;
        display: block;
        margin: auto;
    }

    .display{
        font-size: 30px;
    }
}

.btn-beli > button {
    font-size: large;
    width: 50px;
    height: 30px;
}

/* info */

.info{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.info-content{
    height: 80px;
    width: 180px;
    display: flex;
}

.icon img{
    width: 70px;
    display: block;
    margin-right: 10px;
}

.info-isi h2{
    font-size: 15px;
}

.info-isi p{
    font-size: 12px;
}

@media(min-width: 560px){
    .info{
        width: 960px;
        margin: auto;
        margin-top: 3%;
        justify-content: space-between;
    }
}

/* medsos */

.medsos-icon img{
    width: 50px;
    margin: 10px;
}

.medsos-icon{
    display: flex;
    justify-content: center;

}

.medsos-isi{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.medsos-form{
    height: 50px;
    background: rgb(44, 44, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.medsos-form form input{
    width: 200px;
    height: 25px;
    background: bisque;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 4px;
}

.medsos-form form input [type="email"] {
    padding: 10px;
}

.medsos-form form button{
    height: 28px;
    padding: 5px;
    text-transform: uppercase;
    background: bisque;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media(min-width: 560px){
    .medsos{
        width: 960px;
        margin: auto;
        margin-top: 20px;
    }
}

/* footer */
/* payment */

footer{
    margin-bottom: 100px;
    background: rgb(244, 244, 161);
    color: black;
    display: flex;
}

.logo-bank img{
    width: 70px;
}

.identitas{
    flex: 1;
}

.sitemap{
    flex: 1;
}

.sitemap li{
    list-style: none;
    padding-top: 10px;
}

.sitemap li a{
    text-decoration: none;
    color: rgb(131, 187, 245);
}

.payment{
    flex: 1;
}

.sitemap h2,.identitas h2{
    font-size: 13px;
}

.identitas p{
    font-size: 12px;
}

.sitemap a{
    font-size: 13px;
}

.bank p{
    font-size: 10px;
}

.bank h2{
    font-size: 13px;
}

.bank{
    padding-bottom: 15px;
}

@media(min-width){
    footer{
        width: 960px;
        margin: auto;
        padding-top: 10px;
    }

    .sitemap h2, .identitas h2{
        font-size: 20px;
    }

    .identitas p{
        font-size: 15px;
    }

    .sitemap a{
        font-size: 15px;
    }
}